@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --primary-darker: 142, 78%, 33%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 1rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --primary-darker: 142, 78%, 33%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

.rdp-vhidden {
  @apply hidden;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hero-content {
  flex: 1;
  width: 600px;
  margin: 0px 25px;
  animation: fadeInUp 2s ease;
}
.hero-content h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #333;
}
.hero-content p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #666;
}
.hero-content button {
  display: inline-block;
  background-color: #ff4500;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
}
.hero-content button:hover {
  background-color: #ff6347;
  transform: scale(1.1);
}
.hero-image {
  flex: 1;
  width: 600px;
  margin: auto;
  animation: fadeInRight 2s ease;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.hero1-content {
  width: 45rem;
}
.hero1-content p {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #666;
}
.hero1-content h2 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 20px;
  color: #333;
}
.hero1-image img {
  justify-items: start;
  width: 45rem;
  margin: auto;
  animation: fadeInRight 2s ease;
}

@media screen and (max-width: 768px) {
  .heading h1 {
    font-size: 45px;
    margin-top: 30px;
  }
  .hero {
    margin: 0px;
  }
  .container {
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px 40px;
  }
  .hero-content {
    width: 100%;
    margin: 35px 0px;
  }
  .hero-content h2 {
    font-size: 30px;
  }
  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .hero-content button {
    font-size: 16px;
    padding: 8px 16px;
  }
  .hero-image {
    width: 100%;
  }
}
.hero1-image {
  width: 100%;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateY=X(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .overlap-wrapper {
  background-color: #ffffff;
  width: 1280px; /* Adjusted width for better balance */
  height: 720px; /* Adjusted height for better balance */
}

.frame .overlap {
  position: relative;
  top: 42px; /* Adjusted top position for better balance */
  left: 5px; /* Adjusted left position for better balance */
  width: 1271px; /* Adjusted width for better balance */
  height: 662px; /* Adjusted height for better balance */
  top: 0;
}

.frame .overlap-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1271px; /* Adjusted width for better balance */
  height: 662px; /* Adjusted height for better balance */
}

.frame .logo {
  width: 200px; /* Adjusted width for better balance */
  height: auto; /* Maintain the aspect ratio */
  margin-top: 0px;
}

.frame .vector {
  position: absolute;
  width: 1100px; /* Adjusted width for better balance */
  height: 650px; /* Adjusted height for better balance */
  top: 73px; /* Adjusted top position for better balance */
  left: 217px; /* Adjusted left position for better balance */
}

.frame .bg {
  position: absolute;
  width: 473px; /* Adjusted width for better balance */
  height: 590px; /* Adjusted height for better balance */
  top: 70px; /* Adjusted top position for better balance */
  left: 772px; /* Adjusted left position for better balance */
  object-fit: cover;
}

.frame .home-about-contact {
  position: absolute;
  width: 480px; /* Adjusted width for better balance */
  top: 0;
  left: 375px; /* Adjusted left position for better balance */
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 18px; /* Adjusted font size for better balance */
  letter-spacing: 0;
  line-height: normal;
  display: flex;
  justify-content: center;
  top: 0;
  margin-top: 20px;
}

.frame .home-about-contact a {
  color: #000000;
  text-decoration: none;
  margin: 0 30px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.frame .home-about-contact a:hover {
  color: #22c55e;
}

.frame .home-about-contact .active {
  color: #22c55e;
  font-weight: bold;
}

.frame .central-i-santa-rosa {
  position: absolute;
  width: 360px; /* Adjusted width for better balance */
  top: 300px; /* Adjusted top position for better balance */
  left: -30px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #157b3a;
  font-size: 24px; /* Adjusted font size for better balance */
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .CENTRAL-removebg {
  position: absolute;
  width: 175px; /* Adjusted width for better balance */
  height: auto; /* Maintain the aspect ratio */
  top: 142px; /* Adjusted top position for better balance */
  left: 53px; /* Adjusted left position for better balance */
  object-fit: cover;
}

.frame img:not(.vector):not(.logo) {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.contact-info {
  position: absolute;
  bottom: -10px; /* Adjust the distance from the bottom as needed */
  left: 30%;
  transform: translateX(-50%);
  text-align: center;
  color: #000000; /* Adjust the color as needed */
  font-size: 14px; /* Adjust the font size as needed */
  line-height: 1;
}

.name-info {
  position: absolute;
  bottom: -90px; /* Adjust the distance from the bottom as needed */
  left: 5%;
  transform: translateX(-50%);
  text-align: center;
  color: #000000; /* Adjust the color as needed */
  font-size: 14px; /* Adjust the font size as needed */
  line-height: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-content {
  flex: 1;
  width: 600px;
  margin: 0px 25px;
  animation: fadeInUp 2s ease;
}
.hero-content h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #333;
}
.hero-content p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #666;
}
.hero-content button {
  display: inline-block;
  background-color: #ff4500;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
}
.hero-content button:hover {
  background-color: #ff6347;
  transform: scale(1.1);
}
.hero-image {
  flex: 1;
  width: 600px;
  margin: auto;
  animation: fadeInRight 2s ease;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.hero1-content {
  width: 45rem;
}
.hero1-content p {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #666;
}
.hero1-content h2 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 20px;
  color: #333;
}
.hero1-image img {
  justify-items: start;
  width: 45rem;
  margin: auto;
  animation: fadeInRight 2s ease;
}

@media screen and (max-width: 768px) {
  .heading h1 {
    font-size: 45px;
    margin-top: 30px;
  }
  .hero {
    margin: 0px;
  }
  .container {
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px 40px;
  }
  .hero-content {
    width: 100%;
    margin: 35px 0px;
  }
  .hero-content h2 {
    font-size: 30px;
  }
  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .hero-content button {
    font-size: 16px;
    padding: 8px 16px;
  }
  .hero-image {
    width: 100%;
  }
}
.hero1-image {
  width: 100%;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateY=X(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .overlap-wrapper {
  background-color: #ffffff;
  width: 1280px; /* Adjusted width for better balance */
  height: 720px; /* Adjusted height for better balance */
}

.frame .overlap {
  position: relative;
  top: 42px; /* Adjusted top position for better balance */
  left: 5px; /* Adjusted left position for better balance */
  width: 1271px; /* Adjusted width for better balance */
  height: 662px; /* Adjusted height for better balance */
  top: 0;
}

.frame .overlap-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1271px; /* Adjusted width for better balance */
  height: 662px; /* Adjusted height for better balance */
}

.frame .logo {
  width: 200px; /* Adjusted width for better balance */
  height: auto; /* Maintain the aspect ratio */
  margin-top: 0px;
}

.frame .vector {
  position: absolute;
  width: 1100px; /* Adjusted width for better balance */
  height: 650px; /* Adjusted height for better balance */
  top: 73px; /* Adjusted top position for better balance */
  left: 217px; /* Adjusted left position for better balance */
}

.frame .bg {
  position: absolute;
  width: 473px; /* Adjusted width for better balance */
  height: 590px; /* Adjusted height for better balance */
  top: 70px; /* Adjusted top position for better balance */
  left: 772px; /* Adjusted left position for better balance */
  object-fit: cover;
}

.frame .home-about-contact {
  position: absolute;
  width: 480px; /* Adjusted width for better balance */
  top: 0;
  left: 375px; /* Adjusted left position for better balance */
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 18px; /* Adjusted font size for better balance */
  letter-spacing: 0;
  line-height: normal;
  display: flex;
  justify-content: center;
  top: 0;
  margin-top: 20px;
}

.frame .home-about-contact a {
  color: #000000;
  text-decoration: none;
  margin: 0 30px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.frame .home-about-contact a:hover {
  color: #22c55e;
}

.frame .home-about-contact .active {
  color: #22c55e;
  font-weight: bold;
}

.frame .central-i-santa-rosa {
  position: absolute;
  width: 360px; /* Adjusted width for better balance */
  top: 300px; /* Adjusted top position for better balance */
  left: -30px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #157b3a;
  font-size: 24px; /* Adjusted font size for better balance */
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .CENTRAL-removebg {
  position: absolute;
  width: 175px; /* Adjusted width for better balance */
  height: auto; /* Maintain the aspect ratio */
  top: 142px; /* Adjusted top position for better balance */
  left: 53px; /* Adjusted left position for better balance */
  object-fit: cover;
}

.frame img:not(.vector):not(.logo) {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.contact-info {
  position: absolute;
  bottom: -10px; /* Adjust the distance from the bottom as needed */
  left: 30%;
  transform: translateX(-50%);
  text-align: center;
  color: #000000; /* Adjust the color as needed */
  font-size: 14px; /* Adjust the font size as needed */
  line-height: 1;
}

.name-info {
  position: absolute;
  bottom: -90px; /* Adjust the distance from the bottom as needed */
  left: 5%;
  transform: translateX(-50%);
  text-align: center;
  color: #000000; /* Adjust the color as needed */
  font-size: 14px; /* Adjust the font size as needed */
  line-height: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-content {
  flex: 1;
  width: 600px;
  margin: 0px 25px;
  animation: fadeInUp 2s ease;
}
.hero-content h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #333;
}
.hero-content p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #666;
}
.hero-content button {
  display: inline-block;
  background-color: #ff4500;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
}
.hero-content button:hover {
  background-color: #ff6347;
  transform: scale(1.1);
}
.hero-image {
  flex: 1;
  width: 600px;
  margin: auto;
  animation: fadeInRight 2s ease;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.hero1-content {
  width: 45rem;
}
.hero1-content p {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #666;
}
.hero1-content h2 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 20px;
  color: #333;
}
.hero1-image img {
  justify-items: start;
  width: 45rem;
  margin: auto;
  animation: fadeInRight 2s ease;
}

@media screen and (max-width: 768px) {
  .heading h1 {
    font-size: 45px;
    margin-top: 30px;
  }
  .hero {
    margin: 0px;
  }
  .container {
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px 40px;
  }
  .hero-content {
    width: 100%;
    margin: 35px 0px;
  }
  .hero-content h2 {
    font-size: 30px;
  }
  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .hero-content button {
    font-size: 16px;
    padding: 8px 16px;
  }
  .hero-image {
    width: 100%;
  }
}
.hero1-image {
  width: 100%;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateY=X(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.hero-content {
  flex: 1;
  width: 600px;
  margin: 0px 25px;
  animation: fadeInUp 2s ease;
}
.hero-content h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #333;
}
.hero-content p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #666;
}
.hero-content button {
  display: inline-block;
  background-color: #ff4500;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
}
.hero-content button:hover {
  background-color: #ff6347;
  transform: scale(1.1);
}
.hero-image {
  flex: 1;
  width: 600px;
  margin: auto;
  animation: fadeInRight 2s ease;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.hero1-content {
  width: 45rem;
}
.hero1-content p {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #666;
}
.hero1-content h2 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 20px;
  color: #333;
}
.hero1-image img {
  justify-items: start;
  width: 45rem;
  margin: auto;
  animation: fadeInRight 2s ease;
}

@media screen and (max-width: 768px) {
  .heading h1 {
    font-size: 45px;
    margin-top: 30px;
  }
  .hero {
    margin: 0px;
  }
  .container {
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px 40px;
  }
  .hero-content {
    width: 100%;
    margin: 35px 0px;
  }
  .hero-content h2 {
    font-size: 30px;
  }
  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .hero-content button {
    font-size: 16px;
    padding: 8px 16px;
  }
  .hero-image {
    width: 100%;
  }
}
.hero1-image {
  width: 100%;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateY=X(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .overlap-wrapper {
  background-color: #ffffff;
  width: 1280px; /* Adjusted width for better balance */
  height: 720px; /* Adjusted height for better balance */
}

.frame .overlap {
  position: relative;
  top: 42px; /* Adjusted top position for better balance */
  left: 5px; /* Adjusted left position for better balance */
  width: 1271px; /* Adjusted width for better balance */
  height: 662px; /* Adjusted height for better balance */
  top: 0;
}

.frame .overlap-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1271px; /* Adjusted width for better balance */
  height: 662px; /* Adjusted height for better balance */
}

.frame .logo {
  width: 200px; /* Adjusted width for better balance */
  height: auto; /* Maintain the aspect ratio */
  margin-top: 0px;
}

.frame .vector {
  position: absolute;
  width: 1100px; /* Adjusted width for better balance */
  height: 650px; /* Adjusted height for better balance */
  top: 73px; /* Adjusted top position for better balance */
  left: 217px; /* Adjusted left position for better balance */
}

.frame .bg {
  position: absolute;
  width: 473px; /* Adjusted width for better balance */
  height: 590px; /* Adjusted height for better balance */
  top: 70px; /* Adjusted top position for better balance */
  left: 772px; /* Adjusted left position for better balance */
  object-fit: cover;
}

.frame .home-about-contact {
  position: absolute;
  width: 480px; /* Adjusted width for better balance */
  top: 0;
  left: 375px; /* Adjusted left position for better balance */
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 18px; /* Adjusted font size for better balance */
  letter-spacing: 0;
  line-height: normal;
  display: flex;
  justify-content: center;
  top: 0;
  margin-top: 20px;
}

.frame .home-about-contact a {
  color: #000000;
  text-decoration: none;
  margin: 0 30px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.frame .home-about-contact a:hover {
  color: #22c55e;
}

.frame .home-about-contact .active {
  color: #22c55e;
  font-weight: bold;
}

.frame .central-i-santa-rosa {
  position: absolute;
  width: 360px; /* Adjusted width for better balance */
  top: 300px; /* Adjusted top position for better balance */
  left: -30px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #157b3a;
  font-size: 24px; /* Adjusted font size for better balance */
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .CENTRAL-removebg {
  position: absolute;
  width: 175px; /* Adjusted width for better balance */
  height: auto; /* Maintain the aspect ratio */
  top: 142px; /* Adjusted top position for better balance */
  left: 53px; /* Adjusted left position for better balance */
  object-fit: cover;
}

.frame img:not(.vector):not(.logo) {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.contact-info {
  position: absolute;
  bottom: -10px; /* Adjust the distance from the bottom as needed */
  left: 30%;
  transform: translateX(-50%);
  text-align: center;
  color: #000000; /* Adjust the color as needed */
  font-size: 14px; /* Adjust the font size as needed */
  line-height: 1;
}

.name-info {
  position: absolute;
  bottom: -90px; /* Adjust the distance from the bottom as needed */
  left: 5%;
  transform: translateX(-50%);
  text-align: center;
  color: #000000; /* Adjust the color as needed */
  font-size: 14px; /* Adjust the font size as needed */
  line-height: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-content {
  flex: 1;
  width: 600px;
  margin: 0px 25px;
  animation: fadeInUp 2s ease;
}
.hero-content h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #333;
}
.hero-content p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #666;
}
.hero-content button {
  display: inline-block;
  background-color: #ff4500;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
}
.hero-content button:hover {
  background-color: #ff6347;
  transform: scale(1.1);
}
.hero-image {
  flex: 1;
  width: 600px;
  margin: auto;
  animation: fadeInRight 2s ease;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.hero1-content {
  width: 45rem;
}
.hero1-content p {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #666;
}
.hero1-content h2 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 20px;
  color: #333;
}
.hero1-image img {
  justify-items: start;
  width: 45rem;
  margin: auto;
  animation: fadeInRight 2s ease;
}

@media screen and (max-width: 768px) {
  .heading h1 {
    font-size: 45px;
    margin-top: 30px;
  }
  .hero {
    margin: 0px;
  }
  .container {
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px 40px;
  }
  .hero-content {
    width: 100%;
    margin: 35px 0px;
  }
  .hero-content h2 {
    font-size: 30px;
  }
  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .hero-content button {
    font-size: 16px;
    padding: 8px 16px;
  }
  .hero-image {
    width: 100%;
  }
}
.hero1-image {
  width: 100%;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateY=X(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .overlap-wrapper {
  background-color: #ffffff;
  width: 1280px; /* Adjusted width for better balance */
  height: 720px; /* Adjusted height for better balance */
}

.frame .overlap {
  position: relative;
  top: 42px; /* Adjusted top position for better balance */
  left: 5px; /* Adjusted left position for better balance */
  width: 1271px; /* Adjusted width for better balance */
  height: 662px; /* Adjusted height for better balance */
  top: 0;
}

.frame .overlap-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1271px; /* Adjusted width for better balance */
  height: 662px; /* Adjusted height for better balance */
}

.frame .logo {
  width: 200px; /* Adjusted width for better balance */
  height: auto; /* Maintain the aspect ratio */
  margin-top: 0px;
}

.frame .vector {
  position: absolute;
  width: 1100px; /* Adjusted width for better balance */
  height: 650px; /* Adjusted height for better balance */
  top: 73px; /* Adjusted top position for better balance */
  left: 217px; /* Adjusted left position for better balance */
}

.frame .bg {
  position: absolute;
  width: 473px; /* Adjusted width for better balance */
  height: 590px; /* Adjusted height for better balance */
  top: 70px; /* Adjusted top position for better balance */
  left: 772px; /* Adjusted left position for better balance */
  object-fit: cover;
}

.frame .home-about-contact {
  position: absolute;
  width: 480px; /* Adjusted width for better balance */
  top: 0;
  left: 375px; /* Adjusted left position for better balance */
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 18px; /* Adjusted font size for better balance */
  letter-spacing: 0;
  line-height: normal;
  display: flex;
  justify-content: center;
  top: 0;
  margin-top: 20px;
}

.frame .home-about-contact a {
  color: #000000;
  text-decoration: none;
  margin: 0 30px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.frame .home-about-contact a:hover {
  color: #22c55e;
}

.frame .home-about-contact .active {
  color: #22c55e;
  font-weight: bold;
}

.frame .central-i-santa-rosa {
  position: absolute;
  width: 360px; /* Adjusted width for better balance */
  top: 300px; /* Adjusted top position for better balance */
  left: -30px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #157b3a;
  font-size: 24px; /* Adjusted font size for better balance */
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .CENTRAL-removebg {
  position: absolute;
  width: 175px; /* Adjusted width for better balance */
  height: auto; /* Maintain the aspect ratio */
  top: 142px; /* Adjusted top position for better balance */
  left: 53px; /* Adjusted left position for better balance */
  object-fit: cover;
}

.frame img:not(.vector):not(.logo) {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.contact-info {
  position: absolute;
  bottom: -10px; /* Adjust the distance from the bottom as needed */
  left: 30%;
  transform: translateX(-50%);
  text-align: center;
  color: #000000; /* Adjust the color as needed */
  font-size: 14px; /* Adjust the font size as needed */
  line-height: 1;
}

.name-info {
  position: absolute;
  bottom: -90px; /* Adjust the distance from the bottom as needed */
  left: 5%;
  transform: translateX(-50%);
  text-align: center;
  color: #000000; /* Adjust the color as needed */
  font-size: 14px; /* Adjust the font size as needed */
  line-height: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-content {
  flex: 1;
  width: 600px;
  margin: 0px 25px;
  animation: fadeInUp 2s ease;
}
.hero-content h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #333;
}
.hero-content p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #666;
}
.hero-content button {
  display: inline-block;
  background-color: #ff4500;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
}
.hero-content button:hover {
  background-color: #ff6347;
  transform: scale(1.1);
}
.hero-image {
  flex: 1;
  width: 600px;
  margin: auto;
  animation: fadeInRight 2s ease;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.hero1-content {
  width: 45rem;
}
.hero1-content p {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #666;
}
.hero1-content h2 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 20px;
  color: #333;
}
.hero1-image img {
  justify-items: start;
  width: 45rem;
  margin: auto;
  animation: fadeInRight 2s ease;
}

@media screen and (max-width: 768px) {
  .heading h1 {
    font-size: 45px;
    margin-top: 30px;
  }
  .hero {
    margin: 0px;
  }
  .container {
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px 40px;
  }
  .hero-content {
    width: 100%;
    margin: 35px 0px;
  }
  .hero-content h2 {
    font-size: 30px;
  }
  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .hero-content button {
    font-size: 16px;
    padding: 8px 16px;
  }
  .hero-image {
    width: 100%;
  }
}
.hero1-image {
  width: 100%;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateY=X(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.hero-content {
  flex: 1;
  width: 600px;
  margin: 0px 25px;
  animation: fadeInUp 2s ease;
}
.hero-content h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #333;
}
.hero-content p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #666;
}
.hero-content button {
  display: inline-block;
  background-color: #ff4500;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
}
.hero-content button:hover {
  background-color: #ff6347;
  transform: scale(1.1);
}
.hero-image {
  flex: 1;
  width: 600px;
  margin: auto;
  animation: fadeInRight 2s ease;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.hero1-content {
  width: 45rem;
}
.hero1-content p {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #666;
}
.hero1-content h2 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 20px;
  color: #333;
}
.hero1-image img {
  justify-items: start;
  width: 45rem;
  margin: auto;
  animation: fadeInRight 2s ease;
}

@media screen and (max-width: 768px) {
  .heading h1 {
    font-size: 45px;
    margin-top: 30px;
  }
  .hero {
    margin: 0px;
  }
  .container {
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px 40px;
  }
  .hero-content {
    width: 100%;
    margin: 35px 0px;
  }
  .hero-content h2 {
    font-size: 30px;
  }
  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .hero-content button {
    font-size: 16px;
    padding: 8px 16px;
  }
  .hero-image {
    width: 100%;
  }
}
.hero1-image {
  width: 100%;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateY=X(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .overlap-wrapper {
  background-color: #ffffff;
  width: 1280px; /* Adjusted width for better balance */
  height: 720px; /* Adjusted height for better balance */
}

.frame .overlap {
  position: relative;
  top: 42px; /* Adjusted top position for better balance */
  left: 5px; /* Adjusted left position for better balance */
  width: 1271px; /* Adjusted width for better balance */
  height: 662px; /* Adjusted height for better balance */
  top: 0;
}

.frame .overlap-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1271px; /* Adjusted width for better balance */
  height: 662px; /* Adjusted height for better balance */
}

.frame .logo {
  width: 200px; /* Adjusted width for better balance */
  height: auto; /* Maintain the aspect ratio */
  margin-top: 0px;
}

.frame .vector {
  position: absolute;
  width: 1100px; /* Adjusted width for better balance */
  height: 650px; /* Adjusted height for better balance */
  top: 73px; /* Adjusted top position for better balance */
  left: 217px; /* Adjusted left position for better balance */
}

.frame .bg {
  position: absolute;
  width: 473px; /* Adjusted width for better balance */
  height: 590px; /* Adjusted height for better balance */
  top: 70px; /* Adjusted top position for better balance */
  left: 772px; /* Adjusted left position for better balance */
  object-fit: cover;
}

.frame .home-about-contact {
  position: absolute;
  width: 480px; /* Adjusted width for better balance */
  top: 0;
  left: 375px; /* Adjusted left position for better balance */
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 18px; /* Adjusted font size for better balance */
  letter-spacing: 0;
  line-height: normal;
  display: flex;
  justify-content: center;
  top: 0;
  margin-top: 20px;
}

.frame .home-about-contact a {
  color: #000000;
  text-decoration: none;
  margin: 0 30px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.frame .home-about-contact a:hover {
  color: #22c55e;
}

.frame .home-about-contact .active {
  color: #22c55e;
  font-weight: bold;
}

.frame .central-i-santa-rosa {
  position: absolute;
  width: 360px; /* Adjusted width for better balance */
  top: 300px; /* Adjusted top position for better balance */
  left: -30px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #157b3a;
  font-size: 24px; /* Adjusted font size for better balance */
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .CENTRAL-removebg {
  position: absolute;
  width: 175px; /* Adjusted width for better balance */
  height: auto; /* Maintain the aspect ratio */
  top: 142px; /* Adjusted top position for better balance */
  left: 53px; /* Adjusted left position for better balance */
  object-fit: cover;
}

.frame img:not(.vector):not(.logo) {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.contact-info {
  position: absolute;
  bottom: -10px; /* Adjust the distance from the bottom as needed */
  left: 30%;
  transform: translateX(-50%);
  text-align: center;
  color: #000000; /* Adjust the color as needed */
  font-size: 14px; /* Adjust the font size as needed */
  line-height: 1;
}

.name-info {
  position: absolute;
  bottom: -90px; /* Adjust the distance from the bottom as needed */
  left: 5%;
  transform: translateX(-50%);
  text-align: center;
  color: #000000; /* Adjust the color as needed */
  font-size: 14px; /* Adjust the font size as needed */
  line-height: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
